body, h1, h2, p, button, input {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #800080, #e60073);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* Boton de chat */
.chat-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #571857;
    border: 2px solid #8969d3;
    border-radius: 10%;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}
/* Caja de registro */
.registration-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;    
    flex-direction: column;    
    align-items: center;
}
.registration-box h2 {
    color: #800080;
    font-size: 30px;
    margin-bottom: 20px;
}
.registration-box input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.subscribe-button {
    background-color: #800080;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.subscribe-button:hover {
    background-color: #e60073;
}
.chat-button:hover {
    background-color: #b33f79;
}